* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
.preview_box{
  border: 4px solid #bcbcbc; 
  text-align: center; 
  margin-top: 3%;
  height: 550px;
  margin-bottom: 16%
}

#preview{
  padding-top: 20px;
}

.btn-file{
  margin-right: 10px;
}

.btn-myclose{
  margin-right: 10px;
  border-radius: 50%;
  border: 4px solid #bcbcbc; 
}

.btn{
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
}

.btn:hover{
  background-color:#bcbcbc;
}

.preview_img{
  max-width: 100%;
  height: auto;
}

 @media (min-width: 992px) {
  .preview_box{
    margin-bottom: 8%
  }
  
  #preview{
    padding-top: 20px;
  }
  .preview_img{
    max-width: auto;
    height: 500px;
  }
 }

