* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #666464;
  }
.preview_box{
  /* border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);*/
  text-align: center;
  margin-top: 3%;
  height: 500px;
  margin-bottom: 12%;
}

#preview{
  padding-top: 20px;
}

.my-close{
  border-radius: 50px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3); 
  border: none;
  background-color: white;
  margin-right: 5px;
}

.my-close-mobile{
  border: none;
  background-color: white;
}

.my-file{
  margin-right: 5px;
}

.my-btn{
  border-radius: 20px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3); 
  border: none;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  /* margin-right: 10px;
  border: 4px solid #bcbcbc;  */
}

.btn{
   box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3); 
}

.btn:hover{
  background-color:#bcbcbc;
}

.preview_img{
  align-items: center;
  max-width: 90%;
  max-height: 500px;
}

.top{
   margin-top: 7px;
 }

 @media (min-width: 500px) {
  .preview_box{
    margin-bottom: 8%
  }
  
  #preview{
    padding-top: 20px;
  }
  .preview_img{
    max-width: auto;
    height: 480px;
  }

 }

 
